#TabsToolbar {
    display: none;
}

#titlebar {
    -moz-appearance: none !important;
}

:root[sizemode="maximized"]

#navigator-toolbox {
    padding-top: 8px !important;
}

#sidebar-header {
    display: none;
}
