:root {
    --base03: #FDF6E3;
    --red: #C34646;
    --green: #8C9440;
    --blue: #586E75;
    --magenta: #937088;
    --cyan: #5E8D87;
    --orange: #BB8E36;
}

body, body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: 12px;
    color: #323232;
    text-decoration: unset;
}


@media (max-width: 600px) {
    .links-container {
        flex-direction: column !important;
        order: 2 !important;
        /* width: 100vw !important;  */
    }
    .terminal-screen{
        border: none !important;
    }
    #search {
        order: 1 !important;
    }

    #middle {
        vertical-align: none !important;
    }

    #inner {
        margin-left: 0  !important;
        margin-right: 0  !important;
    }

    .user {
        order: 0 !important;
    }


}

/* elements */
body {
    background-color: #370500;
    font-family: "InputMonoCondensed-Regular";
    color: var(--base0);
    font-size: 12px;
}

ul {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input {
    background-color: #D9D5BA;
    caret-color: var(--base0);
    outline: none;
    border: none;
    color: var(--base0);
    font-family: "InputMonoCondensed-Regular";
    font-size: 12px;
    padding-left: 5px;
}

.terminal-screen {
    background-color: #D9D5BA;
    overflow: hidden;
    border: 3px solid #757575;
    padding: 10px;
    border-radius: 0px;
}

.terminal-screen:hover {
    box-shadow: 0px 0px 0px 0px  #424242;
    transition: all 0.05s;
}

#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#middle {
    display: table-cell;
    vertical-align: middle;
}

#inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}


#search {
    display: flex;
    width: 100%;
    order: 2;
}

#search-bar {
    order: 4;
    overflow: hidden;
    background: var(--base03);
    font-family: "InputMono";
    display: flex;
}

.links-container {
    order: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 30%;
    padding: 10px;
    justify-content: space-around;
}

.main,
.packages,
.programming {
    width: auto;
    position: relative;
    padding: 10px;
    transition: background-color 0.3s;
    color: var(--cyan);
}

.main {
    order: 0;
}

.packages {
    order: 1;
}

.programming {
    order: 4;
}

/* hyperlinks */

a:link,
a:visited {
    color: var(--base0);
    text-decoration: none;
}

a:hover {
    color: var(--cyan);
    text-decoration: none;
}

a:active {
    color: var(--blue);
    text-decoration: none;
}

/* "syntax highlighting" */

.user {
    display: flex;
    order: 0;
}

.unix-user {
    color: #323232;
    order: 0;
}

.unix-syntax2 {
    color: var(--orange);
    order: 3;
}

/* blinking cursor */

.cursor {
    animation: blinker 1s step-start infinite;
    color: var(--base0);
    order: 4;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* section headings */

#main-h, #packages-h, #programming-h{
    font-weight: bold;

}
#main-h {
    color: var(--orange);
}

#packages-h {
    color: var(--magenta);
}


#programming-h {
    color: var(--green);
}
